
.calc-container{
    background-color: rgba(0, 139, 139, 0.897);
    border-radius: 12px;
    display: grid;
    grid-template: 1fr 3fr/1fr;
    /* max-width: 300px;
    height: 400px; */
    width: 400px;
    height: 500px;
    
}
.result-form{
    order: -1;
    display: grid;
    /* justify-items: center; */
    align-items: center;
    /* width: 90%; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.61);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 3em;
    /* font-family: 'Cascadia Code SemiBold'; */
    font-family: 'Chakra Petch', sans-serif;
    text-align: right;
}
.buttons-container{
    display: grid;
    /* grid-template: repeat(4, 1fr)/repeat(4, 1fr); */
    grid-template: 1fr 1fr 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
}
.buttons-container button{
    border-radius: 32px;
    border: none;
    /* border: 2px solid darkcyan; */
    margin: 7px;
    font-size: 2em;
    /* font-family: 'Cascadia Code SemiBold'; */
    font-family: 'Chakra Petch', sans-serif;

}
.buttons-container button:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24),
     0 8px 20px 0 rgba(0,0,0,0.19);
     transform: translateY(-3px);
     transition: 0.2s;
}
#Result{
    background-color: rgba(255, 0, 0, 0.63);
    grid-column: 3/span 2;
    grid-row: 5;
}
.buttons-container button:active {
    background-color: rgba(0, 185, 185, 0.897);
    box-shadow: 0 3px rgba(71, 71, 71, 0.797);
    transform: translateY(3px);
}
@media screen and (max-width: 600px){
    .calc-container{width: 100%; height: 90vh;}
}
